$bp-small: 552px;
$bp-medium: 766px;
$bp-big: 992px;
$bp-main: 1280px;
$bp-main_big: 1920px;

$offset: 15px;
$time: 0.3s;

$color-brand: #fcdd6f;
$color-sub-brand: #e37171;
$color-text: #000;
$color-text_lighter: #c9c9c9;
