._bg {
  height: 483px; // -->> auto
  // background-image: url(/src/img/bg.jpg);
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-position: top 50%;
}
$module: widget-users;

.#{$module} {
  width: 400px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding-top: 3px;

  &::before {
    content: '';
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    width: 100%;
    height: 3px;
    background-color: $color-text;
  }

  &__header {
    background-color: $color-brand;

    &::before {
      content: '';
      position: absolute;
      z-index: 1;
      top: 6px;
      left: 50%;
      width: 50px;
      height: 50px;
      transform: translateX(-50%);
      background-image: url(https://upload.wikimedia.org/wikipedia/commons/9/91/Octicons-mark-github.svg);
      background-position: center center;
      background-size: contain;
      background-repeat: no-repeat;
    }
  }

  &__title {
    padding-top: 56px;
    text-align: center;
    font-size: 1.33em;
    padding-bottom: 6px;
  }

  &__control {
    display: flex;
    // transform: translateX(115px);
  }

  //

  &__footer {
    background-color: $color-brand;
    padding-top: 6px;
    padding-bottom: 6px;
  }

  &__btn {
    &_refresh {
      width: 100%;
      font-size: 1.2em;
      text-align: center;
      text-transform: uppercase;

      & i {
        padding-right: 6px;
      }
    }

    &_more {
      width: 45px;
      // height: 100%;
      background-image: url(/src/img/right-arrow.svg);
      background-repeat: no-repeat;
      background-size: contain;
      background-position: center center;
      // transform: translateX(115px);

      // &:hover + .#{$module}__btn_remove {
      //   background-color: green;
      // }

      &:hover ~ .users-list {
        background-color: green;
      }
    }

    &_remove {
      width: 115px;
      height: 100%;
      background-color: $color-sub-brand;
      background-image: url(/src/img/trash.svg);
      background-repeat: no-repeat;
      background-size: 40% 40%;
      background-position: center center;
      // transform: translateX(115px);
      // posa + posa(parent) -> good, but not
    }
  }
}
